body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 100vh;
    overflow: hidden;
  }
  #notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(216, 67, 21, 0.9);
    color: #fff3e0;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(216,67,21,0.8);
    font-size: 20px;
    font-weight: 700;
    z-index: 10000;
    text-align: center;
    user-select: none;
    cursor: pointer;
    max-width: 80%;
  }
  #notification:hover {
    background: rgba(216, 67, 21, 1);
    box-shadow: 0 0 30px rgba(216,67,21,1);
  }
  
  
  .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6); /* полупрозрачный фон */
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    border: 2px solid #fff;
    max-width: 90vw;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  }
  /* Футер */
  footer {
    text-align: center;
    padding: 15px 10px;
    background: rgba(30,10,5,0.85);
    color: #f3e5f5;
    font-size: 14px;
    user-select: none;
    box-shadow: 0 -2px 12px rgba(216,67,21,0.9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: auto;
  }
  button {
    padding: 15px 40px;
    margin: 10px;
    background: #d84315;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 1.3em;
    cursor: pointer;
    box-shadow:
      0 2px 6px rgba(216,67,21,0.7),
      -3px -3px 6px rgba(255,255,255,0.2);
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(145deg, #777, #444);
    box-shadow:
      0 0 12px #fff,
      inset 0 0 8px #fff;
  }
